# Variables required
fwData = {
    "untrustAddr":"10.32.0.4/24",
    "untrustSubnet":"10.32.0.0/24",
    "untrustInt":"ethernet1/1",
    "untrustDFGW"
    "trustAddr":"10.32.1.4/24",
    "trustSubnet":"10.32.1.0/24",
    "trustInt":"ethernet1/2",
    "tunnelInt":"tunnel.1",
    "tunnelAddr":"192.168.1.1/32",
    "panoramaAddr":"10.32.1.5",
    "publicInetAddr":"32.17.56.143",
    "mgmtAddr":"10.32.0.4",
    "mgmtUrl":"scm-lab-fw01.eastus.cloudapp.azure.com",
    "untrustURL":"panfw-untrust-useast-azuredns.com",
    "mgmtUser":"python_api",
    "mgmtPass":"xWsDmUXsXy4VTdD",
    "paInfraSubnet":"192.168.255.0/24",
    "paInfraBGPAS":65534,
    "paMobUserSubnet":"100.64.0.0/16",
    "paZtnaContSubnet":"172.16.0.0/20",
    "paZtnaAppSubnet":"172.20.0.0/16",
    "paSCEndpoint":"10.110.110.110",
    "paTSGID":"1570970024",
    "paApiUser":"lmickey",
    "paApiToken":"token"
}